.popup__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 430px;
  height: auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .popup__background {
    width: 340px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .popup__background {
    width: 282px;
  }
}