.popup__button {
  width: 83.26%;
  border: 0;
  border-radius: 2px;
  background-color: #000000;
  height: 50px;
  margin-left: 8.37%;
  margin-right: 8.37%;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  padding: 0%;
  margin-bottom: 36px;
}

.popup__button:hover {
  opacity: 0.8;
  transition: opacity 0.5s linear;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .popup__button {
    width: 84.4%;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
    margin-left: 22px;
    margin-right: 22px;
  }
}