.popup__close-button {
  border: none;
  cursor: pointer;
  padding: 0%;
  width: 40px;
  height: 40px;
  background-image: url(../../../images/CloseIcon.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0);
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: opacity 0.5s linear;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    margin-bottom: 13.62px;
  }
}


