.profile__info-btn {
  box-sizing: border-box;
  border: 1px solid #ffffff;
  width: 24px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: url(../../../images/Vector1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__info-btn:hover {
  opacity: 0.6;
  transition: opacity 0.5s linear;
}

@media screen and (max-width: 768px) {
  .profile__info-btn {
    width: 18px;
    height: 18px;
  }
}
