.popup__container {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  max-width: 510px;
}

@media screen and (max-width: 768px) {
  .popup__container {
    max-width: 420px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .popup__container {
    width: 282px;
    position: relative;
    margin: auto;
  }
}