.popup__input {
  font-family: 'Inter', ‘Arial’, sans-serif;
  width: 83.26%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: auto;
  margin-bottom: 30px;
  color: #000000;
  border: none;
  padding: 0%;
  opacity: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .popup__input {
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .popup__input {
    max-width: 84.4%;
    font-size: 14px;
    line-height: 17px;
    margin: 0% 22px 30px 22px;
  }
}